<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <title>Seazone Code Challenger</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1"
    />
    <link
      rel="stylesheet" 
      type="text/css" 
      href="{% static 'getter/reset.css' %}" 
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'getter/style.css' %}"
    />
  </head>

  <body>
    <article>
      <header>        
          <h1> Channel Manager </h3>
          <h2> Choose what you wanna </h2>               
      </header>     
      <br>
      <main>
        <a href="/export_price_regions">Download Price Regions</a>
        <a href="/export_sell_price_rules">Download Sell Price Rules for each region</a>
        <a href="/export_seazone_listings">Download Seazone's listings</a>
        <a href="#">Download Listings Sell Prices for each listing in each region</a>
      </main>
    </article>
    <hr>
    <footer>
      <h3>Desenvolvido por Marcos Nolasco</h3>
      <a href="https://github.com/caro-marks/channel-manager"> Repositório no Github</a>
    <footer>    
  </body>
</html>
